
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&family=Zen+Dots&display=swap');

body {
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    color: #383838;
    height: 100vh;
    /* overflow: hidden; */
}
h1 {
    font-size: 36px;
    font-weight: 200;
}
h2 {
    text-transform: uppercase;
}
h3 {
    font-size: 15px;
}
h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Zen Dots', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    /* font-family: 'Zen Antique Soft', serif; */
}
h4 {
    font-size: 14px;
    font-family: 'Zen Antique Soft', serif;
}
h5 {
    font-size: 10px;
    color: #6B6B6B;
    font-family: 'Zen Antique Soft', serif;
}
span {
    font-size: 15px;
    color: #6B6B6B;
}
p, span, h1 {
    margin: 0;
    font-family: 'Zen Antique Soft', serif;

}
a:visited {
    color: #383838;
}
.logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 61px;
    top: 0;
    font-size: 24px;
}
.logo2 {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2px;
    right: 20px;
    font-size: 24px;
}
.socials {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.hc {
    border-left: 1px solid #55524D; 
    border-right: 1px solid #55524D; 
    width: calc(100% - 80px);
    height: 100vh;
}
.vc::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.17);
    width: 6px;
    border-radius: 6px;
}
.vc::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.07);
    width: 6px;
    border-radius: 6px;
}

.vc {
    height: calc(100vh - 82px);
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #55524D; 
    border-bottom: 1px solid #55524D;
    overflow-y: scroll;
}
.header-image-box {
    display: flex;
    justify-content: center;
}
.header-image {
    width: calc(100% - 82px);
    height: 360px;
    margin-top: 40px;

    background-position: center;
    background-size: cover;
}

.pictures-container {
    display: flex;
    justify-content: center;
}
.pictures-box {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 25px;
    row-gap: 40px;

    margin: auto;
    margin-top: 40px;
    width: min-content;
}

.picture a:visited {
    color: #383838;
}
.picture a {
    text-decoration: none;
}
.picture span {

}
.picture {
    height: 394px;
}
.picture-image {
    width: 100%;
    height: 350px;

    background-size: cover;
    background-position: center;
}
.picture-title-row h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.picture-title-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.picture-view {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.lb {
    padding: 40px;
    width: 50%;
    height: calc(100vh - 162px);
    border-right: 1px solid #55524D; 
}
.rb h1 {
    margin: 0;
}
.rb span {
    margin-top: 14px;
}
.rb {
    padding: 40px;
    padding-bottom: 5px;
    width: 50%;
    height: calc(100vh - 127px);
}
.picture-header {
    margin-bottom: 60px;
}
.scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.17);
    width: 6px;
    border-radius: 6px;
}
.scroll-box::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.07);
    width: 6px;
    border-radius: 6px;
}
.scroll-box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-right: 10px;
}
.scroll-box h1, .scroll-box h2 {
    margin: 0;
}

.btn-box {
    display: flex;
    justify-content: end;
}
.btn-buy {
    margin-top: 14px;
    color: #F5F5F5;
    background-color: #383838;
    border: none;
    border-radius: 0;
    padding: 8px 48px;
}
.title-box {
    margin-bottom: 60px;
}
.gallery {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
}
.gallery-lb {
    display: grid;
    grid-template-rows: min-content 1f min-content;
}
.button-up {
    display: flex;
    justify-content: center;
    
    height: 24px;
    padding: 32px 0;
}
.button-down {
    display: flex;
    justify-content: center;

    height: 24px;
    padding: 32px 0;
}
.image-list {
    display: grid;
    grid-template-rows: repeat(3);
    gap: 40px;
}
.image-mini {
    width: 168px;
    height: 168px;
    background-position: center;
    background-size: cover;
}
.image-mini:hover {
    box-shadow: 2px 2px 16px rgba(128, 128, 128, 0.365);
}
.image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.slider {
    width: 100%;
}
.slick-dots {
    bottom: 10px;
}
.slider img {
    height: 378px;
    width: 100%;
    object-fit: cover;

}

@media screen and (width < 1380px) {
    .pictures-box {
        grid-template-columns: repeat(2, 280px);
    }
    
    .image-mini {
        width: 108px;
        height: 108px;
    }
}
@media screen and (width < 760px) {

    .pictures-box {
        grid-template-columns: repeat(1, 100%);
        width: calc(100% - 80px);
    }

    .picture-view {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .hc {
        width: calc(100% - 60px);
    }
    .vc {
        height: calc(100% - 62px);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .logo {
        left: 61px;
        font-size: 19px;
    }
    .logo2 {
        font-size: 19px;
    }
    .socials {
        height: 30px;
        left: 31px;
    }
    .lb {
        width: calc(100% - 30px);
        height: max-content;
        padding: 0;
        margin: 15px;
        border-right: none;
    }
    .rb {
        width: calc(100% - 30px);
        height: auto;
        padding: 0;
        margin: 15px;
    }
    
    .gallery {
        grid-template-columns: calc(100vw - 92px);
        gap: 40px;
    }
    .gallery-lb {
        display: none;
        grid-template-rows: none;
    }
    .scroll-box::-webkit-scrollbar-thumb {
        width: 0;
    }
    .scroll-box::-webkit-scrollbar {
        width: 0;
    }
    .scroll-box {
        overflow-y: auto;
    }
    .image {
        display: none;
    }

    .header-image {
        width: calc(100% - 32px);
        height: 180px;
        margin-top: 15px;
    }
    
    .pictures-box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 14px;
        row-gap: 22px;
        margin-top: 18px;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .picture-image {
        height: 180px;
    }
    
    .picture {
        height: auto;
    }

    h4 {
        font-size: 10px;
    }
    h5 {
        font-size: 8px;
    }

}