{% load static %}

<!doctype html>
<html class="no-js" lang="Ru">

<head>
    <title>Desense {{ page_name }}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <!-- CSS here -->
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'pictures/css/style.css' %}">

</head>

<body>
    <a href="{% url 'home' %}"><h1 class="logo">M.YANA</h1></a>

    <div class="body">
        <div class="hc">
            <div class="vc">
                {% block content %}
                {% endblock %}
            </div>

            <div style="position: relative; display: flex; justify-content: space-between;">
                <div class="socials">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none" style="margin-right: 10px;">
                        <path d="M9 0C4.0293 0 0 4.0293 0 9C0 13.9707 4.0293 18 9 18C13.9707 18 18 13.9707 18 9C18 4.0293 13.9707 0 9 0ZM9 1.8C12.9762 1.8 16.2 5.0238 16.2 9C16.2 12.9762 12.9762 16.2 9 16.2C8.33794 16.2 7.69994 16.1037 7.09102 15.9363C7.28255 15.5505 7.45436 15.1438 7.54805 14.7832C7.65155 14.3872 8.07539 12.7723 8.07539 12.7723C8.35079 13.2979 9.1557 13.7443 10.0125 13.7443C12.5622 13.7443 14.4 11.3992 14.4 8.48496C14.4 5.69046 12.1203 3.6 9.18633 3.6C5.53683 3.6 3.6 6.04939 3.6 8.71699C3.6 9.95719 4.25992 11.5013 5.31562 11.9936C5.47582 12.0683 5.56173 12.0359 5.59863 11.8811C5.62743 11.7632 5.77028 11.1886 5.83418 10.9213C5.85488 10.8367 5.84547 10.7624 5.77617 10.6787C5.42697 10.2548 5.14688 9.47669 5.14688 8.75039C5.14688 6.88469 6.55914 5.08008 8.96484 5.08008C11.042 5.08008 12.4963 6.49602 12.4963 8.52012C12.4963 10.807 11.3415 12.3908 9.83848 12.3908C9.00868 12.3908 8.38536 11.7057 8.58516 10.8633C8.82366 9.85798 9.28652 8.77267 9.28652 8.04727C9.28652 7.39837 8.93957 6.85723 8.21777 6.85723C7.36907 6.85723 6.68672 7.73405 6.68672 8.91035C6.68672 9.65915 6.93984 10.1654 6.93984 10.1654C6.93984 10.1654 6.10234 13.7087 5.94844 14.3684C5.87216 14.6939 5.8467 15.0796 5.84473 15.4652C3.4522 14.2948 1.8 11.8428 1.8 9C1.8 5.0238 5.0238 1.8 9 1.8Z" fill="#55524D"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                        <path d="M7.90592 2.39583C4.87107 2.39583 2.39551 4.8714 2.39551 7.90625V15.0938C2.39551 18.1282 4.87098 20.6042 7.90592 20.6042H15.0934C18.128 20.6042 20.6038 18.1283 20.6038 15.0938V7.90625C20.6038 4.87131 18.1279 2.39583 15.0934 2.39583H7.90592ZM7.90592 3.83333H15.0934C17.3509 3.83333 19.1663 5.64832 19.1663 7.90625V15.0938C19.1663 17.3511 17.3508 19.1667 15.0934 19.1667H7.90592C5.64799 19.1667 3.83301 17.3512 3.83301 15.0938V7.90625C3.83301 5.64823 5.6479 3.83333 7.90592 3.83333ZM16.2913 5.75C15.7619 5.75 15.333 6.17885 15.333 6.70833C15.333 7.23781 15.7619 7.66667 16.2913 7.66667C16.8208 7.66667 17.2497 7.23781 17.2497 6.70833C17.2497 6.17885 16.8208 5.75 16.2913 5.75ZM11.4997 6.70833C8.86195 6.70833 6.70801 8.86227 6.70801 11.5C6.70801 14.1377 8.86195 16.2917 11.4997 16.2917C14.1374 16.2917 16.2913 14.1377 16.2913 11.5C16.2913 8.86227 14.1374 6.70833 11.4997 6.70833ZM11.4997 8.14583C13.3604 8.14583 14.8538 9.63931 14.8538 11.5C14.8538 13.3607 13.3604 14.8542 11.4997 14.8542C9.63898 14.8542 8.14551 13.3607 8.14551 11.5C8.14551 9.63931 9.63898 8.14583 11.4997 8.14583Z" fill="#55524D"/>
                    </svg>
                </div>
                <h1 class="logo2">ART</h1>
            </div>

        </div>
    </div>


    <!-- JS here -->
    <script src="{% static '../scripts/script.js' %}"></script>

    {% block script %}
    {% endblock %}

</body>

</html>