{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}

{% block content %}

<div class="header-image-box">
    <div class="header-image" style="background-image: url('{{ general.image.url }}');"></div>
</div>

<div class="pictures-box">

    {% for i in pictures %}
    {% for picture in pictures %}
    <div class="picture">
        <a href="{% url 'picture' picture.id %}">
            <div class="picture-image" style="background-image: url('{{ picture.image }}');"></div>
            <div class="picture-title-row">
                <h4>{{ picture.title }}</h4>
                <h4>{{ picture.price }} РУБ</h4>
            </div>
            <h5 class="picture-size">{{ picture.size }} СМ</h5>
        </a>
    </div>
    {% endfor %}
    {% endfor %}

</div>

<br><br><br>
<br><br><br>

{% endblock %}

{% block script %}
{% endblock %}
