{% extends 'base.html' %}
{% load static %}

{% block title %}picture{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}

{% block content %}

<style>
@media screen and (width > 760px) {
    .vc::-webkit-scrollbar-thumb {
        width: 0;
    }
    .vc::-webkit-scrollbar {
        width: 0;
    }
    .noclass {
        display: none;
    }
}
</style>

<div class="picture-view">
    <div class="lb">
        <div class="gallery">

            <div class="gallery-lb">
                <div class="button-up">
                    <svg width="24" height="12" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="0 12, 24 12, 12 0"/>
                    </svg>
                </div>
                <div class="image-list">
                    {% for image in picture.image_set.all %}
                    <div 
                        class="image-mini"
                        style="background-image: url('{{ image.image.url }}');"
                        onclick="setImage('{{ image.image.url }}')"
                        ></div>
                    {% endfor %}
                </div>
                <div class="button-down">
                    <svg width="24" height="12" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="0 0, 24 0, 12 12"/>
                    </svg>
                </div>
            </div>

            <div class="gallery-rb">
                
                <div class="slider">
                    {% for image in picture.image_set.all %}
                        <img src="{{ image.image.url }}" alt="Slide {{ image.id }}">
                    {% endfor %}
                </div>
                <div class="image" id="image" style="background-image: url('{{ picture.image }}');"></div>
            </div>
        </div>
    </div>
    <div class="rb">
        <div style="display: grid; grid-template-rows: auto 1fr; height: 100%;">

            <div class="picture-header">
                <h1 style="position: relative; top: -16px; left: -4;">{{ picture.title }}</h1>
                <span>{{ picture.price }} РУБ</span>
                <div class="btn-box">
                    <button class="btn-buy">ХОЧУ КУПИТЬ</button>
                </div>
                <hr>
            </div>

            <div class="scroll-box">
                <div class="title-box">
                    <h3>РАЗМЕРЫ</h3>
                    <span>{{ picture.size }} см</span>
                </div>
                <div class="title-box">
                    <h3>ЦВЕТ</h3>
                    <span>{{ picture.color }}</span>
                </div>
                <div class="title-box">
                    <h3>МАТЕРИАЛ</h3>
                    <span>{{ picture.material }}</span>
                </div>
                <div class="title-box">
                    <h3>ИНФО</h3>
                    <span>{{ picture.info }}</span>
                </div>
                <div class="title-box">
                    <h3>ДОСТАВКА</h3>
                    <span>Производится по всей России.Стоимость зависит от города, размера и количества предметов.  Стоимость доставки будет рассчитана индивидуально при оформлении заказа.Посылки отправляются в течении 10 рабочих дней.Если у вас есть какие-либо вопросы, свяжитесь со мной по кнопке “хочу купить” </span>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.slider').slick({
            // Параметры настройки
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true,
            arrows: false,
            touchMove: true,
            swipeToSlide: true
            // Можно добавить другие параметры в соответствии с вашими потребностями
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        // Функция для проверки и обновления класса
        function checkViewportWidth() {
            const slider = document.querySelector('.slider') || document.querySelector('.noclass');
            if (window.innerWidth > 760) {
                if (slider && slider.classList.contains('slider')) {
                    slider.classList.replace('slider', 'noclass');
                }
            } else {
                if (slider && slider.classList.contains('noclass')) {
                    slider.classList.replace('noclass', 'slider');
                }
            }
        }

        // Вызовите функцию при загрузке страницы
        checkViewportWidth();

        // Добавьте обработчик событий на изменение размера окна
        window.addEventListener('resize', checkViewportWidth);
    });

    function setImage(url) {
        console.log(url);
        var image = document.getElementById('image');
        console.log(image);
        image.style = "background-image: url('" + url + "');"
    }

</script>
{% endblock %}
